main {
    width: 50%;
    height: 50vh;
    border: 1px solid black;
    margin: 10vh auto;
    display: flex;
    justify-content: center;
    padding: 3%;
}
button {
    height: 10vh;
    margin: 0 auto;
}
h1 {
    margin-bottom: 3%;
}
ul {
    text-decoration: none !important;
}
li {
    height: 6vh;
    width: 40%;
    background-color: red;
    text-decoration: none !important;
}
